[submodule "bundle/ScrollColors"]
	path = bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/tmuxline.vim"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-codefmt"]
	path = bundle/vim-codefmt
	url = https://github.com/google/vim-codefmt.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-colorstepper"]
	path = bundle/vim-colorstepper
	url = https://github.com/qualiabyte/vim-colorstepper.git
[submodule "bundle/vim-five"]
	path = bundle/vim-five
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimgutter"]
	path = bundle/vimgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-glaive"]
	path = bundle/vim-glaive
	url = https://github.com/google/vim-glaive.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-kolor"]
	path = bundle/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "bundle/vim-lengthmatters"]
	path = bundle/vim-lengthmatters
	url = https://github.com/whatyouhide/vim-lengthmatters.git
[submodule "bundle/vim-lexical"]
	path = bundle/vim-lexical
	url = https://github.com/reedes/vim-lexical.git
[submodule "bundle/vim-maktaba"]
	path = bundle/vim-maktaba
	url = https://github.com/google/vim-maktaba.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-reload"]
	path = bundle/vim-reload
	url = https://github.com/xolox/vim-reload.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim256-color"]
	path = bundle/vim256-color
	url = https://github.com/noah/vim256-color.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-airline-themes.git"]
	path = bundle/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-wheel"]
	path = bundle/vim-wheel
	url = https://github.com/reedes/vim-wheel
[submodule "bundle/vim-noscrollbar"]
	path = bundle/vim-noscrollbar
	url = https://github.com/gcavallanti/vim-noscrollbar.git
	ignore = untracked
[submodule "bundle/vim-tags"]
	path = bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
	ignore = untracked
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/setcolors"]
	path = bundle/setcolors
	url = https://github.com/felixhummel/setcolors.vim.git
[submodule "bundle/vim-espresso"]
	path = bundle/vim-espresso
	url = https://github.com/gmoe/vim-espresso.git
[submodule "bundle/vim-lastplace"]
	path = bundle/vim-lastplace
	url = https://github.com/dietsche/vim-lastplace.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/GoldenView"]
	path = bundle/GoldenView
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-eighties"]
	path = bundle/vim-eighties
	url = https://github.com/justincampbell/vim-eighties.git
[submodule "bundle/golden-ratio"]
	path = bundle/golden-ratio
	url = https://github.com/roman/golden-ratio.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/nicoraffo/conque.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
